* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #222;
  font-family: "poppins", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* start the search section  */
.card {
  background: linear-gradient(135deg, #00feba, #5b548a);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 25px 50px;
  text-align: center;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
input {
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 1.1rem;
  width: 285px;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 40px;
  height: 40px;
}
button img {
  width: 20px;
}
/* finshed the search section  */
/* start the Weather status section  */
.weatherstatus {
  color: white;
  margin: 20px 0 70px 0;
}
.weatherstatus img {
  width: 150px;
}
.weatherstatus h1 {
  font-size: 4.5rem;
  margin-top: 15px;
  font-weight: 100;
}
.weatherstatus p {
  font-size: 2.5rem;
  text-transform: capitalize;
}
/* finshed the Weather status section  */
/* start the Weather info section  */
.weatherinfo {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.weatherinfo .humidity,
.weatherinfo .windspeed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.weatherinfo .humidity img,
.weatherinfo .windspeed img {
  width: 45px;
}
.weatherinfo .humidity h3,
.weatherinfo .windspeed h3 {
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 1.5rem;
}
/* finshed the Weather info section  */
